@model WebApplicationBalance.Models.Account

@{
    ViewData["Title"] = "Выставить счет";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="Personal_Account" class="control-label"></label>
                <input asp-for="Personal_Account" class="form-control" />
                <span asp-validation-for="Personal_Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sum_account" class="control-label"></label>
                <input asp-for="Sum_account" class="form-control" />
                <span asp-validation-for="Sum_account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Принять" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку счетов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
