@model WebApplicationBalance.Models.PersonalAccountPayment

@{
    ViewData["Title"] = "Создать платеж";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalAccountId" class="control-label"></label>
                @* <input asp-for="Personal_Account" class="form-control" /> *@
                <select asp-for="PersonalAccountId" class="form-control">
                    @foreach (var item in ViewBag.accounts)
                    {
                        <option value=@item.Id>@item.Account ( @item.FullName )</option>
                    }
                </select>
                <span asp-validation-for="PersonalAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SumPayment" class="control-label"></label>
                <input asp-for="SumPayment" class="form-control" />
                <span asp-validation-for="SumPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurposePayment" class="control-label"></label>
                <input asp-for="PurposePayment" class="form-control" />
                <span asp-validation-for="PurposePayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Оплатить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Payment">Вернуться к списку платежей</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
