@model WebApplicationBalance.Models.PersonalAccountInvoice

@{
    ViewData["Title"] = "Выставить счет";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAccountInvoice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="PersonalAccountId" class="control-label"></label>
                @* <input asp-for="Personal_Account" class="form-control" /> *@
                <select asp-for="PersonalAccountId" class="form-control">
                    @foreach (var item in ViewBag.accounts)
                    {
                        <option value=@item.Id>@item.Account ( @item.FullName )</option>
                    }
                </select>
                <span asp-validation-for="PersonalAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SumAccount" class="control-label"></label>
                <input asp-for="SumAccount" class="form-control" />
                <span asp-validation-for="SumAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Принять" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку счетов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
